body{font-family: 'Poppins', sans-serif;}
*{
  margin: 0;
  padding: 0;
  }
.top{
  background-image: url(donation9.jpg);
  background-repeat: no-repeat ; 
  height: 600px;
 background-size: 100%;
 text-align: center;
 color:whitesmoke;
 padding-bottom: 100px;
}


.link-bottom{
  text-decoration: none;
  background-color:#008B8B;
  border-radius: 10px;
padding:1px 40px ;
font-weight: 400;
color:whitesmoke;}
.second{
  text-align: center;
     padding: 20px ;
   }
 .second p{
   font-size: small;
   padding: 10px 2px ;
   color: slategrey;
   
 }
 .taka{
  margin-right: 30px ;
  padding-left: 35% ;
  text-align: justify;
}
.taka ul li{
  display: inline;
font-weight: 700;
background-color: wheat;
border: 70px 50px;
padding: 10px 20px;
text-align: center;
}
.now{ text-align: end;
  text-decoration: none;
  background-color: gray;
  padding: 5px 20px;
  border-radius: 10px 20px ;
  }
 #other{
   margin: 5%;
   text-align: center;
   padding: 10px 50px  ;
 }
#other a{
  text-decoration: none;
 background-color: yellowgreen;
padding: 10px 50px ;
}
.theard{
  text-align: center;
  margin: 10px 5px ;
}
.theard h1{
 font-size: x-large;
 }
 .theard p{
   font-size: small;
   padding: 5px 10px ;}
   
   .help{
    display: inline-flex;
    margin: 80px;
    padding-right: 20px  30px ;
  }
   .food{
    
     background-image: url(food.png);
     background-repeat: no-repeat;
   background-color:#B0E0E6;
  padding: 100px 10px ;
  margin-right: 10px  ;
  
   }
   .shelter{
     background-image: url(shelter.png);
     background-repeat: no-repeat;
     background-color: #FAEBD7;
     padding: 100px 10px ;
     margin-left: 10px ;
   } 
   .education{
     background-image: url(Frame-1.png);
     background-repeat: no-repeat;
     background-color: #ADD8E6;
     padding: 100px 10px ;
     margin-left: 10px ;}
   #help{
     text-align: center;
    
   }
   .suppot{display: inline-flex;
    padding: 30px ;
    
   }
.lost{

  border-radius: 4px;
  padding: 4px;
  width: 300px;
 } 
  
#suppot{
  width: 40%;
  padding: 50px ;
}
#suppot h1{ 
  font-weight: 700;
color: #2F4F4F
 
;font-size: 30px;
 
}
#suppot p{
  padding: 10px;
font-size:small;
color:#20B2AA;}

.us{
  text-decoration: none;
  border-radius: 5px ;
  background-color: #B0E0E6;
  padding: 8px 30px ;
}
.finisher h1{
  text-align: center;
  font-weight: 800;
  font-weight: bolder;
  
}
.finisher p{
  text-align: center;
  font-size: small;
  padding: 5px 20px ;
  color:#708090 ;
}
.done{
 
 text-align: center;
margin: 50px;
}
#footer{
  margin: 0%;
  text-align: center;
  background-color: CadetBlue;
padding: 8% 100px ;
 
}