body{font-family: 'Poppins', sans-serif;}
*{
margin: 0;
padding: 0;
}
.top{
  background-image: url(donation9.jpg);
  background-repeat: no-repeat ; 
  height: 600px;
 background-size: 100%;
 padding: 10% 10px ;
 text-align: center;
 color: aliceblue;
 background-image: linear-gradient(rgb(50, 250, 5) rgb(80, 234, 170));


}
.link-bottom{
  text-decoration: none;
  background-color: black;
  
 border-radius: 10px;
padding: 0 20px;
font-weight: 400;
color:whitesmoke;}
 .second{
   text-align: center;
 }
.taka{
   display: inline-block; 
   padding: 25px ;
 padding-right: 40px;
text-align: center;
}
.taka ul li{
  display: inline;
font-weight: 700;
background-color: wheat;
border: 70px 50px;
padding: 10px 20px;
}
.now{ text-align: end;
  text-decoration: none;
  background-color: gray;
  padding: 5px 20px;
  border-radius: 10px 20px ;
  
}
.our-plan{
  text-align: center;
}
